.nav{
    grid-area: nav;
    background-color: #f6f6fc;
}

.item{
    color:  cadetblue;
}

.navLink{
    display: block;
    color: darkslategrey;
    text-decoration: none;
}

.navLink.active{
    background-color:  #f6f80f;
}